In [66]:
import pandas as pd

In [214]:
df  = pd.read_csv("coursera_vishal.csv")
df.head()

,Title,Link,Organization,Instructor,Skills,Ratings,Review counts,Cost,Enrolled,Level,Cerification,Completion Time,Unnamed: 12,Decription
0,Google Data Analytics,https://www.coursera.org/professional-certific...,Google,Google Career Certificates,"Data Analysis, R Programming, SQL, Business C...",4.8,133470.0,Free,2068512,Beginner,Professional Certificate,3 - 6 Months,NaN,Gain an immersive understanding of the practic...
1,Google Cybersecurity,https://www.coursera.org/professional-certific...,Google,Google Career Certificates,"Network Security, Python Programming, Linux, ...",4.8,21565.0,Free,481195,Beginner,Professional Certificate,3 - 6 Months,NaN,Understand the importance of cybersecurity pra...
2,Google Project Management:,https://www.coursera.org/professional-certific...,Google,Google Career Certificates,"Project Management, Strategy and Operations, ...",4.8,97832.0,Free,1491006,Beginner,Professional Certificate,3 - 6 Months,NaN,Gain an immersive understanding of the practic...
3,IBM Data Science,https://www.coursera.org/professional-certific...,IBM,Dr. Pooja,"Python Programming, Data Science, Machine Lea...",4.6,69542.0,Free,291876,Beginner,Professional Certificate,3 - 6 Months,NaN,Master the most up-to-date practical skills an...
4,Google Digital Marketing & E-commerce,https://www.coursera.org/professional-certific...,Google,Google Career Certificates,"Digital Marketing, Marketing, Marketing Manag...",4.8,22133.0,Free,597266,Beginner,Professional Certificate,3 - 6 Months,NaN,Learn the fundamentals of digital marketing an...

In [215]:
df.columns

Index(['Title', 'Link', 'Organization', 'Instructor', 'Skills', 'Ratings',
       'Review counts', 'Cost', 'Enrolled', 'Level', 'Cerification',
       'Completion Time', 'Unnamed: 12', 'Decription'],
      dtype='object')

In [216]:
df.shape

(996, 14)

In [217]:
df = df.drop(columns = ['Unnamed: 12'])

In [218]:
df.shape

(996, 13)

In [219]:
average_rating = round(df['Ratings'].mean())
df['Ratings'].fillna(average_rating, inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_12132\1981013056.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Ratings'].fillna(average_rating, inplace=True)

In [220]:
average_rating

5

In [221]:
df['Review counts'].fillna(70, inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_12132\2277511306.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Review counts'].fillna(70, inplace=True)

In [222]:
df.isna().sum()

Title                0
Link                 0
Organization         0
Instructor         244
Skills             111
Ratings              0
Review counts        0
Cost                 0
Enrolled             0
Level                0
Cerification         0
Completion Time      0
Decription          91
dtype: int64

In [223]:
df_edx  = pd.read_csv("edx_courses.csv")
df_edx.head()

,title,summary,n_enrolled,course_type,institution,instructors,Level,subject,language,subtitles,course_effort,course_length,price,course_description,course_syllabus,course_url,skills,Number of Reviews,Rating
0,How to Learn Online,Learn essential strategies for successful onli...,"1,24,980",Self-paced on your time,edX,Nina Huntemann-Robyn Belair-Ben Piscopo,Introductory,Education & Teacher Training,English,English,2–3 hours per week,2 Weeks,FREE-Add a Verified Certificate for $49 USD,"Designed for those who are new to elearning, t...",Welcome - We start with opportunities to meet ...,https://www.edx.org/course/how-to-learn-online,Learning Design,29,4.4
1,Programming for Everybody (Getting Started wit...,"This course is a ""no prerequisite"" introductio...","2,93,864",Self-paced on your time,The University of Michigan,Charles Severance,Introductory,Computer Science,English,English,2–4 hours per week,7 Weeks,FREE-Add a Verified Certificate for $49 USD,This course aims to teach everyone the basics ...,NaN,https://www.edx.org/course/programming-for-eve...,"Python (Programming Language), Web Browsers",101,4.7
2,CS50's Introduction to Computer Science,An introduction to the intellectual enterprise...,"24,42,271",Self-paced on your time,Harvard University,David J. Malan-Doug Lloyd-Brian Yu,Introductory,Computer Science,English,English,6–18 hours per week,12 Weeks,FREE-Add a Verified Certificate for $90 USD,"This is CS50x , Harvard University's introduct...",NaN,https://www.edx.org/course/cs50s-introduction-...,"Resource Management, Security Software, Crypto...",NaN,NaN
3,The Analytics Edge,"Through inspiring examples and stories, discov...","1,29,555",Instructor-led on a course schedule,Massachusetts Institute of Technology,Dimitris Bertsimas-Allison O'Hair-John Silberh...,Intermediate,Data Analysis & Statistics,English,English,10–15 hours per week,13 Weeks,FREE-Add a Verified Certificate for $199 USD,"In the last decade, the amount of data availab...",NaN,https://www.edx.org/course/the-analytics-edge,"Statistical Software, Logistic Regression, Lin...",NaN,NaN
4,Marketing Analytics: Marketing Measurement Str...,This course is part of a MicroMasters® Program,"81,140",Self-paced on your time,"University of California, Berkeley",Stephan Sorger,Introductory,Computer Science,English,English,5–7 hours per week,4 Weeks,FREE-Add a Verified Certificate for $249 USD,Begin your journey in a new career in marketin...,NaN,https://www.edx.org/course/marketing-analytics...,NaN,NaN,NaN

In [224]:
df_edx.columns

Index(['title', 'summary', 'n_enrolled', 'course_type', 'institution',
       'instructors', 'Level', 'subject', 'language', 'subtitles',
       'course_effort', 'course_length', 'price', 'course_description',
       'course_syllabus', 'course_url', 'skills', 'Number of Reviews',
       'Rating'],
      dtype='object')

In [225]:
average_rating = round(df_edx['Rating'].mean(),3)
df_edx['Rating'].fillna(average_rating, inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_12132\2328846509.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_edx['Rating'].fillna(average_rating, inplace=True)

In [234]:
average_rating

4.522

In [235]:
df_edx['Number of Reviews'].fillna(70, inplace=True)

In [236]:
df_edx.isna().sum()

title                   0
summary                53
n_enrolled            120
course_type             0
institution             0
instructors             3
Level                   0
subject                 0
language                0
subtitles               3
course_effort           0
course_length           0
price                   0
course_description     40
course_syllabus       561
course_url              0
skills                145
Number of Reviews       0
Rating                  0
dtype: int64

In [237]:
# name, university, description, skills, level, rating, url = df.loc[0]

In [238]:
# description

In [239]:
# template = 'Course name is {}. This course is available in coursera education platform. The course is provided by the {}. The course description is as follows:\n {}\n. The student can acquire the following skills after completion of this course: the skils are {}\n. The level of difficulty for this course is {}. Currently the course has a rating of {}. You can find the course from the {} this url.'


# courses_list = [
#     template.format(
#         name, university, description, skills, level, rating, url
#     )

#     for name, university, level, rating, url, description, skills in df.itertuples(index=False)
# ]

Index(['Title', 'Link', 'Organization', 'Instructor', 'Skills', 'Ratings',
       'Review counts', 'Cost', 'Enrolled', 'Level', 'Cerification',
       'Completion Time', 'Unnamed: 12', 'Decription'],
      dtype='object')

In [240]:
df['Cost'].value_counts()

Cost
Free    996
Name: count, dtype: int64

In [241]:
#Coursera

template_coursera = 'Course name is {}. This course is available in coursera education platform. The course is provided by the {}. The course instructor is {}. The course duration is 12 weeks. The course description is as follows:\n {}\n. The student can acquire the following skills after completion of this course: the skils are {}\n. The level of difficulty for this course is {}. Currently the course has a rating of {}. This course is FREE-Add a Verified Certificate for price given in the website .This course is paid and available for free if no certificate is required.  You can find the course from the {} this url.'


courses_list_coursera = [
    template_coursera.format(
        name, university, instructor, description, skills, level, rating, url
    )

    for name, url, university, instructor, skills,  rating,Review_counts, Cost,enrolled, level, Cerification, Completion_Time, description in df.itertuples(index=False)
]

In [242]:
courses_list_coursera[0]

'Course name is Google Data Analytics. This course is available in coursera education platform. The course is provided by the Google. The course instructor is Google Career Certificates. The course duration is 12 weeks. The course description is as follows:\n Gain an immersive understanding of the practices and processes used by a junior or associate data analyst in their day-to-day job,Gain an immersive understanding of the practices and processes used by a junior or associate data analyst in their day-to-day job,Learn key analytical skills (data cleaning, analysis, & visualization) and tools (spreadsheets, SQL, R programming, Tableau) ,Learn key analytical skills (data cleaning, analysis, & visualization) and tools (spreadsheets, SQL, R programming, Tableau) ,Understand how to clean and organize data for analysis, and complete analysis and calculations using spreadsheets, SQL and R programming,Understand how to clean and organize data for analysis, and complete analysis and calculations using spreadsheets, SQL and R programming,Learn how to visualize and present data findings in dashboards, presentations and commonly used visualization platforms,Learn how to visualize and present data findings in dashboards, presentations and commonly used visualization platforms,\n. The student can acquire the following skills after completion of this course: the skils are  Data Analysis, R Programming, SQL, Business Communication, Spreadsheet Software, Business Analysis, Data Visualization, Data Management, General Statistics, Big Data, Communication, Computer Programming, Data Science, Data Visualization Software, Databases, Exploratory Data Analysis, Extract, Transform, Load, Leadership and Management, Microsoft Excel, Problem Solving, Small Data, Statistical Programming, Tableau Software\n. The level of difficulty for this course is Beginner. Currently the course has a rating of 4.8. This course is FREE-Add a Verified Certificate for price given in the website .This course is paid and available for free if no certificate is required.  You can find the course from the https://www.coursera.org/professional-certificates/google-data-analytics this url.'

In [243]:
df_edx.shape

(975, 19)

In [244]:
df_edx.columns

Index(['title', 'summary', 'n_enrolled', 'course_type', 'institution',
       'instructors', 'Level', 'subject', 'language', 'subtitles',
       'course_effort', 'course_length', 'price', 'course_description',
       'course_syllabus', 'course_url', 'skills', 'Number of Reviews',
       'Rating'],
      dtype='object')

In [245]:
df_edx['price'].value_counts()

price
FREE-Add a Verified Certificate for $49 USD        270
FREE-Add a Verified Certificate for $99 USD        137
FREE-Add a Verified Certificate for $50 USD         96
FREE-Add a Verified Certificate for $199 USD        85
FREE-Add a Verified Certificate for $149 USD        78
FREE-Add a Verified Certificate for $25 USD         49
FREE-Add a Verified Certificate for $139 USD        33
FREE-Add a Verified Certificate for $150 USD        30
FREE-Add a Verified Certificate for $249 USD        26
FREE-Add a Verified Certificate for $79 USD         21
FREE-Add a Verified Certificate for $169 USD        19
FREE-Add a Verified Certificate for $29 USD         15
FREE-Add a Verified Certificate for $39 USD         13
FREE-Add a Verified Certificate for $299 USD         9
FREE-Add a Verified Certificate for $129 USD         9
FREE-Add a Verified Certificate for $125 USD         8
FREE-Add a Verified Certificate for $5 USD           7
FREE-Add a Verified Certificate for $59 USD          7
FREE-Add a Verified Certificate for $75 USD          5
FREE-Add a Verified Certificate for $49.99 USD       4
FREE-Add a Verified Certificate for $90 USD          4
FREE-Add a Verified Certificate for $119 USD         3
FREE-Add a Verified Certificate for $214 USD         3
FREE-Add a Verified Certificate for $250 USD         3
FREE-Add a Verified Certificate for $60 USD          3
FREE-Add a Verified Certificate for $350 USD         3
FREE-Add a Verified Certificate for $70 USD          3
FREE-Add a Verified Certificate for $300 USD         3
FREE-Add a Verified Certificate for $225 USD         3
FREE-Add a Verified Certificate for $100 USD         3
FREE-Add a Verified Certificate for $19 USD          2
FREE-Add a Verified Certificate for $65 USD          2
FREE-Add a Verified Certificate for $40 USD          2
FREE-Add a Verified Certificate for $299.70 USD      2
FREE-Add a Verified Certificate for $179 USD         2
FREE-Add a Verified Certificate for $399 USD         2
FREE-Add a Verified Certificate for $399.60 USD      1
FREE-Add a Verified Certificate for $49.90 USD       1
FREE-Add a Verified Certificate for $166 USD         1
FREE-Add a Verified Certificate for $375 USD         1
FREE-Add a Verified Certificate for $159 USD         1
FREE-Add a Verified Certificate for $450 USD         1
FREE-Add a Verified Certificate for $69 USD          1
FREE-Add a Verified Certificate for $10 USD          1
FREE-Add a Verified Certificate for $200 USD         1
FREE-Add a Verified Certificate for $15 USD          1
FREE-Add a Verified Certificate for $30 USD          1
Name: count, dtype: int64

In [246]:
def dollar_rupees(x):
    splits = x.split('$')
    amount = splits[-1].split('USD')[0].strip()
    rupees = float(amount)*83.50
    return f"{splits[0].strip()} Rs. {rupees}"

In [247]:
dollar_rupees("FREE-Add a Verified Certificate for $10 USD")

'FREE-Add a Verified Certificate for Rs. 835.0'

In [248]:
df_edx['price_rupees'] = df_edx['price'].apply(dollar_rupees) 
df_edx['price_rupees'].value_counts()

price_rupees
FREE-Add a Verified Certificate for Rs. 4091.5      270
FREE-Add a Verified Certificate for Rs. 8266.5      137
FREE-Add a Verified Certificate for Rs. 4175.0       96
FREE-Add a Verified Certificate for Rs. 16616.5      85
FREE-Add a Verified Certificate for Rs. 12441.5      78
FREE-Add a Verified Certificate for Rs. 2087.5       49
FREE-Add a Verified Certificate for Rs. 11606.5      33
FREE-Add a Verified Certificate for Rs. 12525.0      30
FREE-Add a Verified Certificate for Rs. 20791.5      26
FREE-Add a Verified Certificate for Rs. 6596.5       21
FREE-Add a Verified Certificate for Rs. 14111.5      19
FREE-Add a Verified Certificate for Rs. 2421.5       15
FREE-Add a Verified Certificate for Rs. 3256.5       13
FREE-Add a Verified Certificate for Rs. 24966.5       9
FREE-Add a Verified Certificate for Rs. 10771.5       9
FREE-Add a Verified Certificate for Rs. 10437.5       8
FREE-Add a Verified Certificate for Rs. 417.5         7
FREE-Add a Verified Certificate for Rs. 4926.5        7
FREE-Add a Verified Certificate for Rs. 6262.5        5
FREE-Add a Verified Certificate for Rs. 4174.165      4
FREE-Add a Verified Certificate for Rs. 7515.0        4
FREE-Add a Verified Certificate for Rs. 9936.5        3
FREE-Add a Verified Certificate for Rs. 17869.0       3
FREE-Add a Verified Certificate for Rs. 20875.0       3
FREE-Add a Verified Certificate for Rs. 5010.0        3
FREE-Add a Verified Certificate for Rs. 29225.0       3
FREE-Add a Verified Certificate for Rs. 5845.0        3
FREE-Add a Verified Certificate for Rs. 25050.0       3
FREE-Add a Verified Certificate for Rs. 18787.5       3
FREE-Add a Verified Certificate for Rs. 8350.0        3
FREE-Add a Verified Certificate for Rs. 1586.5        2
FREE-Add a Verified Certificate for Rs. 5427.5        2
FREE-Add a Verified Certificate for Rs. 3340.0        2
FREE-Add a Verified Certificate for Rs. 25024.95      2
FREE-Add a Verified Certificate for Rs. 14946.5       2
FREE-Add a Verified Certificate for Rs. 33316.5       2
FREE-Add a Verified Certificate for Rs. 33366.6       1
FREE-Add a Verified Certificate for Rs. 4166.65       1
FREE-Add a Verified Certificate for Rs. 13861.0       1
FREE-Add a Verified Certificate for Rs. 31312.5       1
FREE-Add a Verified Certificate for Rs. 13276.5       1
FREE-Add a Verified Certificate for Rs. 37575.0       1
FREE-Add a Verified Certificate for Rs. 5761.5        1
FREE-Add a Verified Certificate for Rs. 835.0         1
FREE-Add a Verified Certificate for Rs. 16700.0       1
FREE-Add a Verified Certificate for Rs. 1252.5        1
FREE-Add a Verified Certificate for Rs. 2505.0        1
Name: count, dtype: int64

In [249]:
df_edx.columns

Index(['title', 'summary', 'n_enrolled', 'course_type', 'institution',
       'instructors', 'Level', 'subject', 'language', 'subtitles',
       'course_effort', 'course_length', 'price', 'course_description',
       'course_syllabus', 'course_url', 'skills', 'Number of Reviews',
       'Rating', 'price_rupees'],
      dtype='object')

In [250]:
#EDX

template_EDX = 'Course name is {}. This course is available in edX education platform. The course is provided by the {}. The course instructor is {}. The course duration is {}. The course description is as follows:\n {}\n. The student can acquire the following skills after completion of this course: the skils are {}\n. The level of difficulty for this course is {}. Currently the course has a rating of {}. This course is {}. You can find the course from the {} this url.'


courses_list_edx = [
    template_EDX.format(
        name, university, instructor, duration, description, skills, level, rating, rupees, url
    )

    for name, summary, n_enrolled, course_type, university,  instructor,level, subject, language, subtitles, course_effort, duration,cost ,description,course_syllabus, url, skills, Review_counts, rating, rupees in df_edx.itertuples(index=False)
]

In [251]:
courses_list_edx[0]

'Course name is How to Learn Online. This course is available in edX education platform. The course is provided by the edX. The course instructor is Nina Huntemann-Robyn Belair-Ben Piscopo. The course duration is 2 Weeks. The course description is as follows:\n Designed for those who are new to elearning, this course will prepare you with strategies to be a successful online learner.The edX learning design team has curated some of the most powerful, science-backed techniques which you can start using right away and on any learning platform.The Verified Certificate for this course is free. Use the following coupon code before September 1, 2020 to upgrade at no cost to you: Y5ZADM5NU2AN5JU7This course will help you answer the following questions:\n. The student can acquire the following skills after completion of this course: the skils are Learning Design\n. The level of difficulty for this course is Introductory. Currently the course has a rating of 4.4. This course is FREE-Add a Verified Certificate for Rs. 4091.5. You can find the course from the https://www.edx.org/course/how-to-learn-online this url.'

In [252]:
final_courses_list = courses_list_coursera + courses_list_edx

In [253]:
file_path = "Coursera_courses.txt"
with open(file_path, "w") as file:
    for i in range(len(courses_list_coursera)):
        file.write(courses_list_coursera[i])

In [254]:
file_path = "edx_courses.txt"
with open(file_path, "w") as file:
    for i in range(len(courses_list_edx)):
        file.write(courses_list_edx[i])

In [100]:
file_path = "coursera_edx_courses_list.txt"
with open(file_path, "w") as file:
    for i in range(len(final_courses_list)):
        file.write(final_courses_list[i])

In [136]:
file_path = "coursera_edx_courses_list.txt"

# Open the file in read mode
with open(file_path, "r") as file:
    # Read the contents of the file
    content = file.read()

'C'

In [255]:
name_list_coursera = df['Title'].tolist()
name_list_edx = df_edx['title'].tolist()

In [256]:
names_list_coursera_edx = name_list_coursera + name_list_edx

In [257]:
len(names_list_coursera_edx), len(final_courses_list)

(1971, 1971)

In [258]:
print(names_list_coursera_edx[1000])
print(final_courses_list[1000])

Marketing Analytics: Marketing Measurement Strategy
Course name is Marketing Analytics: Marketing Measurement Strategy. This course is available in edX education platform. The course is provided by the University of California, Berkeley. The course instructor is Stephan Sorger. The course duration is 4 Weeks. The course description is as follows:
 Begin your journey in a new career in marketing analytics. Learn about powerful strategies and methodology, starting with identifying market trends and metrics used to measure marketing success.In this marketing course, you will learn how to execute market sizing, identify market trends, and predict future conditions.This course is taught by Stephan Sorger who has held leadership roles in marketing and product development at companies such as Oracle, 3Com and NASA. He has also taught for over a decade at UC Berkeley Extension and is the author of two widely adopted marketing textbooks. This course will equip you with the knowledge and skills necessary to immediately see practical benefits in the workplace.Analytics-based marketing is increasingly important in determining a company’s spending and ROI. Many entry-level positions in marketing now require some basic level of knowledge in this rapidly growing field.
. The student can acquire the following skills after completion of this course: the skils are nan
. The level of difficulty for this course is Introductory. Currently the course has a rating of 4.522. This course is FREE-Add a Verified Certificate for Rs. 20791.5. You can find the course from the https://www.edx.org/course/marketing-analytics-marketing-measurement-strategy this url.

In [259]:
course_id = [x for x in range(len(names_list_coursera_edx))]

In [260]:
df_content_list = pd.DataFrame({"id": course_id, "Title": names_list_coursera_edx, "content": final_courses_list})
df_content_list.head()

,id,Title,content
0,0,Google Data Analytics,Course name is Google Data Analytics. This cou...
1,1,Google Cybersecurity,Course name is Google Cybersecurity. This cour...
2,2,Google Project Management:,Course name is Google Project Management:. Thi...
3,3,IBM Data Science,Course name is IBM Data Science. This course i...
4,4,Google Digital Marketing & E-commerce,Course name is Google Digital Marketing & E-co...

In [261]:
df_content_list.shape

(1971, 3)

In [141]:
df_content_list.to_csv("coursera_edx_master.csv", index=False)

In [142]:
df_content_list.columns

Index(['id', 'Title', 'content'], dtype='object')

In [262]:
df_trial = pd.read_csv("coursera_edx_master.csv")
df_trial.head()

,id,Title,content
0,0,Google Data Analytics,Course name is Google Data Analytics. This cou...
1,1,Google Cybersecurity,Course name is Google Cybersecurity. This cour...
2,2,Google Project Management:,Course name is Google Project Management:. Thi...
3,3,IBM Data Science,Course name is IBM Data Science. This course i...
4,4,Google Digital Marketing & E-commerce,Course name is Google Digital Marketing & E-co...

# second template

In [263]:
#Coursera

template_coursera_2 = 'Course name is {}. The course duration is 12 weeks. The course description is as follows:\n {}\n. The student can acquire the following skills after completion of this course: the skils are {}\n. The level of difficulty for this course is {}. This course is paid and available for free if no certificate is required'


courses_list_coursera_2 = [
    template_coursera_2.format(
        name, description, skills, level
    )

    for name, url, university, instructor, skills,  rating,Review_counts, Cost,enrolled, level, Cerification, Completion_Time, description in df.itertuples(index=False)
]

In [264]:
courses_list_coursera_2[0]

'Course name is Google Data Analytics. The course duration is 12 weeks. The course description is as follows:\n Gain an immersive understanding of the practices and processes used by a junior or associate data analyst in their day-to-day job,Gain an immersive understanding of the practices and processes used by a junior or associate data analyst in their day-to-day job,Learn key analytical skills (data cleaning, analysis, & visualization) and tools (spreadsheets, SQL, R programming, Tableau) ,Learn key analytical skills (data cleaning, analysis, & visualization) and tools (spreadsheets, SQL, R programming, Tableau) ,Understand how to clean and organize data for analysis, and complete analysis and calculations using spreadsheets, SQL and R programming,Understand how to clean and organize data for analysis, and complete analysis and calculations using spreadsheets, SQL and R programming,Learn how to visualize and present data findings in dashboards, presentations and commonly used visualization platforms,Learn how to visualize and present data findings in dashboards, presentations and commonly used visualization platforms,\n. The student can acquire the following skills after completion of this course: the skils are  Data Analysis, R Programming, SQL, Business Communication, Spreadsheet Software, Business Analysis, Data Visualization, Data Management, General Statistics, Big Data, Communication, Computer Programming, Data Science, Data Visualization Software, Databases, Exploratory Data Analysis, Extract, Transform, Load, Leadership and Management, Microsoft Excel, Problem Solving, Small Data, Statistical Programming, Tableau Software\n. The level of difficulty for this course is Beginner. This course is paid and available for free if no certificate is required'

In [265]:
df_edx.columns

Index(['title', 'summary', 'n_enrolled', 'course_type', 'institution',
       'instructors', 'Level', 'subject', 'language', 'subtitles',
       'course_effort', 'course_length', 'price', 'course_description',
       'course_syllabus', 'course_url', 'skills', 'Number of Reviews',
       'Rating', 'price_rupees'],
      dtype='object')

In [266]:
#EDX

template_EDX_2 = 'Course name is {}. The course duration is {}. The course description is as follows:\n {}\n. The student can acquire the following skills after completion of this course: the skils are {}\n. The level of difficulty for this course is {}. This course is {}'


courses_list_edx_2 = [
    template_EDX_2.format(
        name, duration, description, skills, level, rupees
    )

    for name, summary, n_enrolled, course_type, university,  instructor,level, subject, language, subtitles, course_effort, duration,cost ,description,course_syllabus, url, skills, Review_counts, rating, rupees in df_edx.itertuples(index=False)
]

In [267]:
courses_list_edx_2[0]

'Course name is How to Learn Online. The course duration is 2 Weeks. The course description is as follows:\n Designed for those who are new to elearning, this course will prepare you with strategies to be a successful online learner.The edX learning design team has curated some of the most powerful, science-backed techniques which you can start using right away and on any learning platform.The Verified Certificate for this course is free. Use the following coupon code before September 1, 2020 to upgrade at no cost to you: Y5ZADM5NU2AN5JU7This course will help you answer the following questions:\n. The student can acquire the following skills after completion of this course: the skils are Learning Design\n. The level of difficulty for this course is Introductory. This course is FREE-Add a Verified Certificate for Rs. 4091.5'

In [268]:
final_courses_list_2 = courses_list_coursera_2 + courses_list_edx_2
len(final_courses_list_2)

1971

In [269]:
df_content_2_list = pd.DataFrame({"id": course_id, "Title": names_list_coursera_edx, "content": final_courses_list_2})   ## specific contents only
df_content_2_list.head()

,id,Title,content
0,0,Google Data Analytics,Course name is Google Data Analytics. The cour...
1,1,Google Cybersecurity,Course name is Google Cybersecurity. The cours...
2,2,Google Project Management:,Course name is Google Project Management:. The...
3,3,IBM Data Science,Course name is IBM Data Science. The course du...
4,4,Google Digital Marketing & E-commerce,Course name is Google Digital Marketing & E-co...

In [151]:
df_content_2_list.to_csv("coursera_edx_specific.csv", index=False)

In [270]:
df_content_list

,id,Title,content
0,0,Google Data Analytics,Course name is Google Data Analytics. This cou...
1,1,Google Cybersecurity,Course name is Google Cybersecurity. This cour...
2,2,Google Project Management:,Course name is Google Project Management:. Thi...
3,3,IBM Data Science,Course name is IBM Data Science. This course i...
4,4,Google Digital Marketing & E-commerce,Course name is Google Digital Marketing & E-co...
...,...,...,...
1966,1966,Leaders in Citizen Security and Justice Manage...,Course name is Leaders in Citizen Security and...
1967,1967,Pattern Studying and Making | 图案审美与创作,Course name is Pattern Studying and Making | 图...
1968,1968,Computational Neuroscience: Neuronal Dynamics ...,Course name is Computational Neuroscience: Neu...
1969,1969,Cities and the Challenge of Sustainable Develo...,Course name is Cities and the Challenge of Sus...
1970,1970,MathTrackX: Special Functions,Course name is MathTrackX: Special Functions. ...

In [157]:
## create a 

id2title = {} ## dictionary with id as key and course name as val
id2MasterContent = {}  ## dictionary with id as key and course content as val


for id, title, content in df_content_list.itertuples(index=False):
    id2title[id] = title
    id2MasterContent[id] = content

In [160]:
import json
json_file_path = 'id2title.json'
with open(json_file_path, 'w') as json_file:
    json.dump(id2title, json_file, indent=4)

In [159]:
json_file_path = 'id2MasterContent.json'
with open(json_file_path, 'w') as json_file:
    json.dump(id2MasterContent, json_file, indent=4)

In [162]:
sum(df_content_2_list['Title']==df_content_list['Title'])

1971

In [165]:
## specific content

id2SpecificContent = {}  ## dictionary with id as key and course content as val


for id, title, content in df_content_2_list.itertuples(index=False):
    id2SpecificContent[id] = content

json_file_path = 'id2SpecificContent.json'
with open(json_file_path, 'w') as json_file:
    json.dump(id2SpecificContent, json_file, indent=4)

## Create new columns

1. normalised no. of enrolled [0,1]
2. normalised rating  [-1,1]
3. ratio of (n_rating) and (n_enrolled)

In [173]:
df.columns

Index(['Title', 'Link', 'Organization', 'Instructor', 'Skills', 'Ratings',
       'Review counts', 'Cost', 'Enrolled', 'Level', 'Cerification',
       'Completion Time', 'Decription'],
      dtype='object')

In [272]:
import numpy as np

In [296]:
def Remove_comma(x):
    if x:
        return float("".join(str(x).split(',')))
    else:
        return float(x)

In [293]:
df_edx['n_enrolled'][971]

nan

In [297]:
print('before',df_edx['n_enrolled'].values[:10])
df_edx['n_enrolled_no_comma'] = df_edx['n_enrolled'].apply(Remove_comma)  ## remove comma from the numbers
print('after',df_edx['n_enrolled_no_comma'].values[:10])

before ['1,24,980' '2,93,864' '24,42,271' '1,29,555' '81,140' '3,01,793' '32,847'
 '67,073' '23,061' '92,411']
after [ 124980.  293864. 2442271.  129555.   81140.  301793.   32847.   67073.
   23061.   92411.]

In [303]:
round(df_edx['n_enrolled_no_comma'].min(),3)

5001.0

In [304]:
min_n_enrolled_edx = round(df_edx['n_enrolled_no_comma'].min(),3)
df_edx['n_enrolled_no_comma'].fillna(min_n_enrolled_edx, inplace=True)
df_edx['n_enrolled_no_comma']

C:\Users\Admin\AppData\Local\Temp\ipykernel_12132\1127003304.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_edx['n_enrolled_no_comma'].fillna(min_n_enrolled_edx, inplace=True)

0       124980.0
1       293864.0
2      2442271.0
3       129555.0
4        81140.0
         ...
970       5001.0
971       5001.0
972      11246.0
973       8775.0
974       5001.0
Name: n_enrolled_no_comma, Length: 975, dtype: float64

In [307]:
max_n_enrolled_edx = round(df_edx['n_enrolled_no_comma'].max(),3)
max_n_enrolled_edx

2442271.0

In [309]:
df_edx['n_enrolled_normalised'] = df_edx['n_enrolled_no_comma'].apply(lambda x: (x - min_n_enrolled_edx)/(max_n_enrolled_edx - min_n_enrolled_edx))
df_edx['n_enrolled_normalised']

0      0.049227
1      0.118519
2      1.000000
3      0.051104
4      0.031239
         ...
970    0.000000
971    0.000000
972    0.002562
973    0.001548
974    0.000000
Name: n_enrolled_normalised, Length: 975, dtype: float64

In [312]:
df_edx.columns

Index(['title', 'summary', 'n_enrolled', 'course_type', 'institution',
       'instructors', 'Level', 'subject', 'language', 'subtitles',
       'course_effort', 'course_length', 'price', 'course_description',
       'course_syllabus', 'course_url', 'skills', 'Number of Reviews',
       'Rating', 'price_rupees', 'n_enrolled_no_comma',
       'n_enrolled_normalised'],
      dtype='object')

In [313]:
avg_rating_edx = round(df_edx['Rating'].mean(),3)
avg_rating_edx

4.522

In [314]:
max_rating_edx = round(df_edx['Rating'].max(),3)
min_rating_edx = round(df_edx['Rating'].min(),3)

In [316]:
min_rating_edx

3.2

In [317]:
df_edx['ratings_normalised'] = df_edx['Rating'].apply(lambda x: (x - avg_rating_edx) / (max_rating_edx - min_rating_edx))
df_edx['ratings_normalised']

0     -0.067778
1      0.098889
2      0.000000
3      0.000000
4      0.000000
         ...
970    0.000000
971    0.000000
972    0.000000
973   -0.067778
974    0.000000
Name: ratings_normalised, Length: 975, dtype: float64

In [331]:
def convert_float(x):
    try:
        return float(x)
    except:
        return float(70)

In [332]:
df_edx['Number of Reviews'] = df_edx['Number of Reviews'].apply(convert_float)

In [333]:
df_edx['ratio(n_rating,n_enrolled)'] = df_edx['Number of Reviews'] / df_edx['n_enrolled_no_comma']
df_edx['ratio(n_rating,n_enrolled)']

0      0.000232
1      0.000344
2      0.000029
3      0.000540
4      0.000863
         ...
970    0.013997
971    0.013997
972    0.006224
973    0.001140
974    0.013997
Name: ratio(n_rating,n_enrolled), Length: 975, dtype: float64

In [335]:
## now do the same for df

df.columns

Index(['Title', 'Link', 'Organization', 'Instructor', 'Skills', 'Ratings',
       'Review counts', 'Cost', 'Enrolled', 'Level', 'Cerification',
       'Completion Time', 'Decription'],
      dtype='object')

In [336]:
max_n_enrolled = round(df['Enrolled'].max(),3)
max_n_enrolled

3064160

In [337]:
min_n_enrolled = round(df['Enrolled'].min(),3)
min_n_enrolled

0

In [338]:
df['n_enrolled_normalised'] = df['Enrolled'].apply(lambda x: (x - min_n_enrolled)/(max_n_enrolled - min_n_enrolled))
df['n_enrolled_normalised']

0      0.675067
1      0.157040
2      0.486595
3      0.095255
4      0.194920
         ...
991    0.054299
992    0.000000
993    0.010793
994    0.009070
995    0.006149
Name: n_enrolled_normalised, Length: 996, dtype: float64

In [339]:
avg_rating = round(df['Ratings'].mean(),3)
avg_rating

4.68

In [343]:
max_rating = round(df['Ratings'].max(),3)
min_rating = round(df['Ratings'].min(),3)
min_rating

2.7

In [344]:
df['rating_normalised'] = df['Ratings'].apply(lambda x: (x - avg_rating)/(max_rating - min_rating))
df['rating_normalised']

0      0.052174
1      0.052174
2      0.052174
3     -0.034783
4      0.052174
         ...
991    0.008696
992    0.052174
993   -0.208696
994    0.095652
995   -0.034783
Name: rating_normalised, Length: 996, dtype: float64

In [347]:
df['ratio(n_rating,n_enrolled)'] = df.apply(lambda row: row['Review counts'] / row['Enrolled'] if row['Enrolled']!=0 else 0, axis=1) 
df['ratio(n_rating,n_enrolled)']

0      0.064525
1      0.044816
2      0.065615
3      0.238259
4      0.037057
         ...
991    0.045888
992    0.000000
993    0.030662
994    0.018999
995    0.017301
Name: ratio(n_rating,n_enrolled), Length: 996, dtype: float64

In [364]:
df['ratio(n_rating,n_enrolled)'].loc[df['ratio(n_rating,n_enrolled)']>=0.5]

25     0.664845
179    1.060195
193    0.879545
251    0.835211
Name: ratio(n_rating,n_enrolled), dtype: float64

In [369]:
# df['ratio(n_rating,n_enrolled)'][251] = 0.5

C:\Users\Admin\AppData\Local\Temp\ipykernel_12132\801628533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ratio(n_rating,n_enrolled)'][251] = 0.5

In [348]:
df.columns, df_edx.columns

(Index(['Title', 'Link', 'Organization', 'Instructor', 'Skills', 'Ratings',
        'Review counts', 'Cost', 'Enrolled', 'Level', 'Cerification',
        'Completion Time', 'Decription', 'n_enrolled_normalised',
        'rating_normalised', 'ratio(n_rating,n_enrolled)'],
       dtype='object'),
 Index(['title', 'summary', 'n_enrolled', 'course_type', 'institution',
        'instructors', 'Level', 'subject', 'language', 'subtitles',
        'course_effort', 'course_length', 'price', 'course_description',
        'course_syllabus', 'course_url', 'skills', 'Number of Reviews',
        'Rating', 'price_rupees', 'n_enrolled_no_comma',
        'n_enrolled_normalised', 'ratings_normalised',
        'ratio(n_rating,n_enrolled)'],
       dtype='object'))

In [384]:
df_edx['description__syllabus'] = df_edx['course_description'] +'.' + df_edx['course_syllabus']
df_edx['description__syllabus']

0      Designed for those who are new to elearning, t...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
                             ...
970                                                  NaN
971                                                  NaN
972    What happens in your brain when you make a dec...
973    According to the United Nations, urbanization ...
974                                                  NaN
Name: description__syllabus, Length: 975, dtype: object

In [386]:
df_edx___mod = df_edx[[
    'title', 'institution', 'Level', 'Rating', 'description__syllabus', 'skills', 'course_length', 'instructors', 'price_rupees', 'course_url'
]]

## add description and syllabus
df_edx___mod.head()

,title,institution,Level,Rating,description__syllabus,skills,course_length,instructors,price_rupees,course_url
0,How to Learn Online,edX,Introductory,4.400,"Designed for those who are new to elearning, t...",Learning Design,2 Weeks,Nina Huntemann-Robyn Belair-Ben Piscopo,FREE-Add a Verified Certificate for Rs. 4091.5,https://www.edx.org/course/how-to-learn-online
1,Programming for Everybody (Getting Started wit...,The University of Michigan,Introductory,4.700,NaN,"Python (Programming Language), Web Browsers",7 Weeks,Charles Severance,FREE-Add a Verified Certificate for Rs. 4091.5,https://www.edx.org/course/programming-for-eve...
2,CS50's Introduction to Computer Science,Harvard University,Introductory,4.522,NaN,"Resource Management, Security Software, Crypto...",12 Weeks,David J. Malan-Doug Lloyd-Brian Yu,FREE-Add a Verified Certificate for Rs. 7515.0,https://www.edx.org/course/cs50s-introduction-...
3,The Analytics Edge,Massachusetts Institute of Technology,Intermediate,4.522,NaN,"Statistical Software, Logistic Regression, Lin...",13 Weeks,Dimitris Bertsimas-Allison O'Hair-John Silberh...,FREE-Add a Verified Certificate for Rs. 16616.5,https://www.edx.org/course/the-analytics-edge
4,Marketing Analytics: Marketing Measurement Str...,"University of California, Berkeley",Introductory,4.522,NaN,NaN,4 Weeks,Stephan Sorger,FREE-Add a Verified Certificate for Rs. 20791.5,https://www.edx.org/course/marketing-analytics...

In [388]:
df_edx___mod.isnull().sum()

title                      0
institution                0
Level                      0
Rating                     0
description__syllabus    563
skills                   145
course_length              0
instructors                3
price_rupees               0
course_url                 0
dtype: int64

In [390]:
df_edx___mod['description__syllabus'].fillna("check out the website in given url for more information", inplace=True)
df_edx___mod['skills'].fillna("check out the website in given url for more information", inplace=True)
df_edx___mod.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_12132\3827923286.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_edx___mod['description__syllabus'].fillna("check out the website in given url for more information", inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12132\3827923286.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_edx___mod['description__syllabus'].fillna("check out the website in given url for more information", inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12132\3827923286.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_edx___mod['skills'].fillna("check out the website in given url for more information", inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12132\3827923286.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_edx___mod['skills'].fillna("check out the website in given url for more information", inplace=True)

,title,institution,Level,Rating,description__syllabus,skills,course_length,instructors,price_rupees,course_url
0,How to Learn Online,edX,Introductory,4.400,"Designed for those who are new to elearning, t...",Learning Design,2 Weeks,Nina Huntemann-Robyn Belair-Ben Piscopo,FREE-Add a Verified Certificate for Rs. 4091.5,https://www.edx.org/course/how-to-learn-online
1,Programming for Everybody (Getting Started wit...,The University of Michigan,Introductory,4.700,check out the website in given url for more in...,"Python (Programming Language), Web Browsers",7 Weeks,Charles Severance,FREE-Add a Verified Certificate for Rs. 4091.5,https://www.edx.org/course/programming-for-eve...
2,CS50's Introduction to Computer Science,Harvard University,Introductory,4.522,check out the website in given url for more in...,"Resource Management, Security Software, Crypto...",12 Weeks,David J. Malan-Doug Lloyd-Brian Yu,FREE-Add a Verified Certificate for Rs. 7515.0,https://www.edx.org/course/cs50s-introduction-...
3,The Analytics Edge,Massachusetts Institute of Technology,Intermediate,4.522,check out the website in given url for more in...,"Statistical Software, Logistic Regression, Lin...",13 Weeks,Dimitris Bertsimas-Allison O'Hair-John Silberh...,FREE-Add a Verified Certificate for Rs. 16616.5,https://www.edx.org/course/the-analytics-edge
4,Marketing Analytics: Marketing Measurement Str...,"University of California, Berkeley",Introductory,4.522,check out the website in given url for more in...,check out the website in given url for more in...,4 Weeks,Stephan Sorger,FREE-Add a Verified Certificate for Rs. 20791.5,https://www.edx.org/course/marketing-analytics...

In [392]:
df_edx___mod['instructors'].fillna("check out the website in given url for more information", inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_12132\1479099033.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_edx___mod['instructors'].fillna("check out the website in given url for more information", inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12132\1479099033.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_edx___mod['instructors'].fillna("check out the website in given url for more information", inplace=True)

In [393]:
df_edx___mod.isnull().sum()

title                    0
institution              0
Level                    0
Rating                   0
description__syllabus    0
skills                   0
course_length            0
instructors              0
price_rupees             0
course_url               0
dtype: int64

In [387]:
df____mod = df[[
    'Title','Organization', 'Level', 'Ratings', 'Decription', 'Skills', 'Completion Time', 'Instructor','Cost', 'Link'
]]
df____mod.head()

,Title,Organization,Level,Ratings,Decription,Skills,Completion Time,Instructor,Cost,Link
0,Google Data Analytics,Google,Beginner,4.8,Gain an immersive understanding of the practic...,"Data Analysis, R Programming, SQL, Business C...",3 - 6 Months,Google Career Certificates,Free,https://www.coursera.org/professional-certific...
1,Google Cybersecurity,Google,Beginner,4.8,Understand the importance of cybersecurity pra...,"Network Security, Python Programming, Linux, ...",3 - 6 Months,Google Career Certificates,Free,https://www.coursera.org/professional-certific...
2,Google Project Management:,Google,Beginner,4.8,Gain an immersive understanding of the practic...,"Project Management, Strategy and Operations, ...",3 - 6 Months,Google Career Certificates,Free,https://www.coursera.org/professional-certific...
3,IBM Data Science,IBM,Beginner,4.6,Master the most up-to-date practical skills an...,"Python Programming, Data Science, Machine Lea...",3 - 6 Months,Dr. Pooja,Free,https://www.coursera.org/professional-certific...
4,Google Digital Marketing & E-commerce,Google,Beginner,4.8,Learn the fundamentals of digital marketing an...,"Digital Marketing, Marketing, Marketing Manag...",3 - 6 Months,Google Career Certificates,Free,https://www.coursera.org/professional-certific...

In [395]:
df____mod.isnull().sum()

Title                0
Organization         0
Level                0
Ratings              0
Decription          91
Skills             111
Completion Time      0
Instructor         244
Cost                 0
Link                 0
dtype: int64

In [396]:
df____mod['Decription'].fillna("check out the website in given url for more information", inplace=True)
df____mod['Skills'].fillna("check out the website in given url for more information", inplace=True)
df____mod['Instructor'].fillna("check out the website in given url for more information", inplace=True)
df____mod.isnull().sum()

C:\Users\Admin\AppData\Local\Temp\ipykernel_12132\3005073492.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df____mod['Decription'].fillna("check out the website in given url for more information", inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12132\3005073492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df____mod['Decription'].fillna("check out the website in given url for more information", inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12132\3005073492.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df____mod['Skills'].fillna("check out the website in given url for more information", inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12132\3005073492.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df____mod['Skills'].fillna("check out the website in given url for more information", inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12132\3005073492.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df____mod['Instructor'].fillna("check out the website in given url for more information", inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12132\3005073492.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df____mod['Instructor'].fillna("check out the website in given url for more information", inplace=True)

Title              0
Organization       0
Level              0
Ratings            0
Decription         0
Skills             0
Completion Time    0
Instructor         0
Cost               0
Link               0
dtype: int64

In [399]:
df_edx___mod['price_rupees'][0]

'FREE-Add a Verified Certificate for Rs. 4091.5'

In [397]:
df____mod['Cost'].value_counts()

Cost
Free    996
Name: count, dtype: int64

In [401]:
df____mod['Cost'] = ["FREE-If you want to add a Verified Certificate check out the price in the website"]*len(df____mod)
df____mod.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_12132\2096046979.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df____mod['Cost'] = ["FREE-If you want to add a Verified Certificate check out the price in the website"]*len(df____mod)

,Title,Organization,Level,Ratings,Decription,Skills,Completion Time,Instructor,Cost,Link
0,Google Data Analytics,Google,Beginner,4.8,Gain an immersive understanding of the practic...,"Data Analysis, R Programming, SQL, Business C...",3 - 6 Months,Google Career Certificates,FREE-If you want to add a Verified Certificate...,https://www.coursera.org/professional-certific...
1,Google Cybersecurity,Google,Beginner,4.8,Understand the importance of cybersecurity pra...,"Network Security, Python Programming, Linux, ...",3 - 6 Months,Google Career Certificates,FREE-If you want to add a Verified Certificate...,https://www.coursera.org/professional-certific...
2,Google Project Management:,Google,Beginner,4.8,Gain an immersive understanding of the practic...,"Project Management, Strategy and Operations, ...",3 - 6 Months,Google Career Certificates,FREE-If you want to add a Verified Certificate...,https://www.coursera.org/professional-certific...
3,IBM Data Science,IBM,Beginner,4.6,Master the most up-to-date practical skills an...,"Python Programming, Data Science, Machine Lea...",3 - 6 Months,Dr. Pooja,FREE-If you want to add a Verified Certificate...,https://www.coursera.org/professional-certific...
4,Google Digital Marketing & E-commerce,Google,Beginner,4.8,Learn the fundamentals of digital marketing an...,"Digital Marketing, Marketing, Marketing Manag...",3 - 6 Months,Google Career Certificates,FREE-If you want to add a Verified Certificate...,https://www.coursera.org/professional-certific...

In [405]:
df_edx___mod.columns = ['Title','Organization', 'Level', 'Ratings', 'Decription', 'Skills', 'Completion Time', 'Instructor','Cost', 'Link'] ## assign same cols to edx data

In [406]:
df____mod.to_csv("coursera_main_features.csv",index=False)
df_edx___mod.to_csv("edx_main_features.csv",index=False)

In [407]:
### concatenate both df
df_master___mod = pd.concat((df____mod, df_edx___mod))
df_master___mod.shape

(1971, 10)

In [408]:
df_master___mod.head()

,Title,Organization,Level,Ratings,Decription,Skills,Completion Time,Instructor,Cost,Link
0,Google Data Analytics,Google,Beginner,4.8,Gain an immersive understanding of the practic...,"Data Analysis, R Programming, SQL, Business C...",3 - 6 Months,Google Career Certificates,FREE-If you want to add a Verified Certificate...,https://www.coursera.org/professional-certific...
1,Google Cybersecurity,Google,Beginner,4.8,Understand the importance of cybersecurity pra...,"Network Security, Python Programming, Linux, ...",3 - 6 Months,Google Career Certificates,FREE-If you want to add a Verified Certificate...,https://www.coursera.org/professional-certific...
2,Google Project Management:,Google,Beginner,4.8,Gain an immersive understanding of the practic...,"Project Management, Strategy and Operations, ...",3 - 6 Months,Google Career Certificates,FREE-If you want to add a Verified Certificate...,https://www.coursera.org/professional-certific...
3,IBM Data Science,IBM,Beginner,4.6,Master the most up-to-date practical skills an...,"Python Programming, Data Science, Machine Lea...",3 - 6 Months,Dr. Pooja,FREE-If you want to add a Verified Certificate...,https://www.coursera.org/professional-certific...
4,Google Digital Marketing & E-commerce,Google,Beginner,4.8,Learn the fundamentals of digital marketing an...,"Digital Marketing, Marketing, Marketing Manag...",3 - 6 Months,Google Career Certificates,FREE-If you want to add a Verified Certificate...,https://www.coursera.org/professional-certific...

In [414]:
df_master___mod['Completion Time'].value_counts()

Completion Time
3 - 6 Months         991
4 Weeks              194
6 Weeks              187
5 Weeks              148
7 Weeks               92
8 Weeks               84
10 Weeks              83
12 Weeks              36
3 Weeks               35
2 Weeks               20
9 Weeks               20
15 Weeks              18
14 Weeks              17
16 Weeks              14
1 Weeks                8
13 Weeks               7
11 Weeks               7
Less Than 2 Hours      5
18 Weeks               4
17 Weeks               1
Name: count, dtype: int64

In [409]:
df_master___mod.to_csv("coursera_edx_main_features.csv",index=False)

In [370]:
df_mod = df[[
            'Title', 'n_enrolled_normalised',
            'rating_normalised', 'ratio(n_rating,n_enrolled)'
            ]]

df_edx_mod = df_edx[[
                    'title', 'n_enrolled_normalised', 'ratings_normalised',
                    'ratio(n_rating,n_enrolled)'
                    ]]

df_mod.columns = ['title', 'n_enrolled_normalised', 'ratings_normalised',
                    'ratio(n_rating,n_enrolled)']

df_concat_mod = pd.concat((df_mod,df_edx_mod))
df_concat_mod['id'] = df_concat_mod.index
df_concat_mod.head()

,title,n_enrolled_normalised,ratings_normalised,"ratio(n_rating,n_enrolled)",id
0,Google Data Analytics,0.675067,0.052174,0.064525,0
1,Google Cybersecurity,0.157040,0.052174,0.044816,1
2,Google Project Management:,0.486595,0.052174,0.065615,2
3,IBM Data Science,0.095255,-0.034783,0.238259,3
4,Google Digital Marketing & E-commerce,0.194920,0.052174,0.037057,4

In [371]:
df_concat_mod.to_csv("title,n_enrolled_normalised,ratings_normalised,ratio(n_rating,n_enrolled),id.csv", index=False)

In [372]:
df_concat_mod.head()

,title,n_enrolled_normalised,ratings_normalised,"ratio(n_rating,n_enrolled)",id
0,Google Data Analytics,0.675067,0.052174,0.064525,0
1,Google Cybersecurity,0.157040,0.052174,0.044816,1
2,Google Project Management:,0.486595,0.052174,0.065615,2
3,IBM Data Science,0.095255,-0.034783,0.238259,3
4,Google Digital Marketing & E-commerce,0.194920,0.052174,0.037057,4

In [373]:
df_concat_mod['ratings_normalised'].describe()

count    1971.000000
mean       -0.000066
std         0.099554
min        -0.860870
25%        -0.012222
50%         0.000000
75%         0.052174
max         0.265556
Name: ratings_normalised, dtype: float64

In [374]:
df_concat_mod['n_enrolled_normalised'].describe()

count    1971.000000
mean        0.024194
std         0.064375
min         0.000000
25%         0.000830
50%         0.005996
75%         0.020621
max         1.000000
Name: n_enrolled_normalised, dtype: float64

In [375]:
df_concat_mod['ratio(n_rating,n_enrolled)'].describe()

count    1971.000000
mean        0.019793
std         0.039855
min         0.000000
25%         0.000717
50%         0.006500
75%         0.022925
max         0.500000
Name: ratio(n_rating,n_enrolled), dtype: float64

# Master df

In [ ]:
df_mod = df[[
            'Title', 'n_enrolled_normalised',
            'rating_normalised', 'ratio(n_rating,n_enrolled)'
            ]]

df_edx_mod = df_edx[[
                    'title', 'n_enrolled_normalised', 'ratings_normalised',
                    'ratio(n_rating,n_enrolled)'
                    ]]

df_mod.columns = ['title', 'n_enrolled_normalised', 'ratings_normalised',
                    'ratio(n_rating,n_enrolled)']

df_concat_mod = pd.concat((df_mod,df_edx_mod))

df_concat_mod['id'] = df_concat_mod.index
df_concat_mod.head()

In [411]:
len("Understand the value of data and how the rapid growth of technologies such as artificial intelligence and cloud computing are transforming business. ,Understand the value of data and how the rapid growth of technologies such as artificial intelligence and cloud computing are transforming business. ,")

300

In [412]:
print("\U0001F600")

😀

In [427]:
df__trial.reset_index(drop=True, inplace=True)
df__trial['id'] = df__trial.index

In [431]:
df__trial.to_csv("title,n_enrolled_normalised,ratings_normalised,ratio(n_rating,n_enrolled),id.csv", index=False)

In [432]:
import pandas as pd
id2normalised_rating = {}
id2_normalised_n_enrolled  = {}
id2_chi_ratio = {}
df__trial = pd.read_csv("title,n_enrolled_normalised,ratings_normalised,ratio(n_rating,n_enrolled),id.csv")
for title, n_enrolled_normalised, ratings_normalised,chi_ratio, id in df__trial.itertuples(index=False):
    id2_normalised_n_enrolled[id] = n_enrolled_normalised
    id2normalised_rating[id] = ratings_normalised
    id2_chi_ratio[id] = chi_ratio

In [433]:
df__trial['id'].value_counts()

id
0       1
1324    1
1322    1
1321    1
1320    1
       ..
652     1
651     1
650     1
649     1
1970    1
Name: count, Length: 1971, dtype: int64

In [434]:
df__trial.columns

Index(['title', 'n_enrolled_normalised', 'ratings_normalised',
       'ratio(n_rating,n_enrolled)', 'id'],
      dtype='object')

In [435]:
df__trial.head()

,title,n_enrolled_normalised,ratings_normalised,"ratio(n_rating,n_enrolled)",id
0,Google Data Analytics,0.675067,0.052174,0.064525,0
1,Google Cybersecurity,0.157040,0.052174,0.044816,1
2,Google Project Management:,0.486595,0.052174,0.065615,2
3,IBM Data Science,0.095255,-0.034783,0.238259,3
4,Google Digital Marketing & E-commerce,0.194920,0.052174,0.037057,4

In [436]:
df__trial['ratio(n_rating,n_enrolled)'][97]

0.0491117748781638

In [437]:
id2_chi_ratio[97]

0.0491117748781638

In [438]:
for _, n_enrolled_normalised, ratings_normalised, chi_ratio, id in df__trial.itertuples(index=False):
        id2_normalised_n_enrolled[id] = n_enrolled_normalised
        id2normalised_rating[id] = ratings_normalised
        id2_chi_ratio[id] = chi_ratio

In [439]:
id2_chi_ratio[97]

0.0491117748781638

In [441]:
df_main.columns

Index(['Title', 'Organization', 'Level', 'Ratings', 'Decription', 'Skills',
       'Completion Time', 'Instructor', 'Cost', 'Link', 'short summary'],
      dtype='object')

In [442]:
df_main = pd.read_csv("comparison_ouput_short_desc_bart_large.csv")
df_main__mod = df_main[['Title','Organization','short summary', 'Skills','Completion Time', 'Instructor', 'Ratings','Cost','Level','Link']]

In [443]:
df_main__mod.to_csv("comparison_ouput_short_desc_bart_large_modified.csv",index=False)